#content {
	overflow-x: hidden;
	@include vendor('display', 'grid');
	@include vendor('align-items', 'center');
	@include vendor('justify-content', 'center');
	text-align: center;
	
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"welcome"
		"intro"
		"services"
		"showcase"
		"contact";

	> #welcome {
		grid-area: welcome;
	}

	> #intro {
		grid-area: intro;
	}
	
	> #services {
		grid-area: services;
	}

	> #showcase {
		grid-area: showcase;
	}
}


#content {
	> #welcome {
		background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/background/plane.jpg'); 
		//https://www.pexels.com/photo/action-air-aircraft-airplane-243167/
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
		background-repeat: repeat, no-repeat;
	}

	> #intro {
		background-color: _palette(bg);
	}

	> #services {
		background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), yellow;
		background-size: cover, cover;
		background-attachment: fixed, fixed;
		background-position: center, center;
	}

	/* Style classes for these main layout sections */
	> .style_welcome {
		color: _palette(bg);

		> .grid_box {
			position: absolute;
			top: 30%; right: 0;
			bottom: 0; left: 0;
		}
		
		@media only screen and (_breakpoint(small)) {
			h2 {
				font-size: 3rem;
				line-height: 1em;
			}
			h1 {
				font-family: _font(family2);
				font-weight: _font(weight2);
				margin: 0;
				font-size: 1rem;
				letter-spacing: 0.08em;
			}
		}

		@media only screen and (_breakpoint(medium)) {
			h2 {
				font-size: 4.25rem;
				line-height: 1em;
			}
			h1 {
				font-family: _font(family2);
				font-weight: _font(weight2);
				margin: 0;
				font-size: 1.5rem;
				letter-spacing: 0.08em;
			}
		}
	}

/*
	> .style_intro {
		// nothing to override
	}

	> .style_services {
		// nothing to override
	}
*/

	> .style_showcase {

// Non-CSS Grid implementation starts here (Use until Edge HTML16)
		> #showcase_grid {
			> .responsive {
				box-sizing: border-box;
				float: left;
				width: 100%;
				padding-bottom: 1rem;
				padding-left: 1rem;
				padding-right: 1rem;

				@media only screen and (_breakpoint(medium)) {
					width: 49.99999%;
				}
				@media only screen and (_breakpoint(large)) {
					width: 24.99999%;
				}

				> img {
					border: 1px solid #ccc;
					width: 100%;
					height: auto;
				}
			}
		}
// Non-CSS Grid implementation ends here


/* Use the above implementation until Edge HTML16 where CSS Grid will be properly supported
// CSS Grid implementation starts here
		> #showcase_grid {

			> .responsive {
				box-sizing: border-box;
				width: 100%;

				> img {
					border: 1px solid #ccc;
					width: 100%;
					height: auto;
				}
			}

			@include vendor('display', 'grid');
			@include vendor('justify-content', 'center');
			text-align: center;

			grid-template-columns: 1fr;
			grid-template-rows: auto;
			grid-gap: 2rem;
			grid-template-areas:
				"A"
				"B"
				"C"
				"D"
				"E"
				"F"
				"G"
				"H";

			@media only screen and (_breakpoint(medium)) {
				grid-template-columns: 1fr 1fr;
				grid-template-rows: auto;
				grid-gap: 2rem;
				grid-template-areas:
					"A B"
					"C D"
					"E F"
					"G H";
			}

			@media only screen and (_breakpoint(large)) {
				grid-template-columns: 1fr 1fr 1fr 1fr;
				grid-template-rows: auto;
				grid-gap: 2em;
				grid-template-areas:
					"A B C D"
					"E F G H";
			}
	
			> #showcase_1 {
				grid-area: A;
			}
			> #showcase_2 {
				grid-area: B;
			}
			> #showcase_3 {
				grid-area: C;
			}
			> #showcase_4 {
				grid-area: D;
			}
			> #showcase_5 {
				grid-area: E;
			}
			>#showcase_6 {
				grid-area: F;
			}
		}
// CSS Grid implementation ends here
*/
	}

	> .fullscreen {
		min-height: 100vh;
	}
	
}


@import 'header';
@import 'footer';