#header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
	background-color: _palette(header, bg);
	height: 3rem;

	// The menu is an overlay menu on small screens 
	//and fully expanded by default on larger screens
	@media only screen and (_breakpoint(small)) {
		font-size: 1.2rem;
		// Use flexgrid to stretch out the three menu elements:
		// The logo, the title, and the menu icon for toggling
		// the overlay menu
		@include vendor('display', 'flex');
		@include vendor('justify-content', 'space-between');
		@include vendor('align-content', 'center');
		@include vendor('align-items', 'center');
		
		> #logo {
			margin-left: 0.5rem;
			color: _palette(header, fg);
		}
		> #menu_icon {
			margin-right: 0.5rem;
			color: _palette(header, fg);
		}

		> #overlay_menu {
			position: fixed;
			z-index: 1000;
			top: 3rem; // toggled with jquery slideToggle()
			left: 0;
			height: 3rem;
			width: 100%;
			background-color: _palette(header, overlay-bg);
			
			overflow: hidden; // Disable scroll + align baseline
			text-align: center;

			@include vendor('display', 'flex');
			@include vendor('justify-content', 'space-around');
			@include vendor('align-content', 'center');
			@include vendor('align-items', 'center');

			// The navigation menu links
			a {
				display: inline-block;
				text-decoration: none;
				margin: auto 0;
				font-size: 1rem;
				color: _palette(header, overlay-fg);
				padding: 0 0.2rem 0 0.2rem;
				transition: 0.3s;
			}

			&:first-child {
				padding-left: auto;
			}

			&:last-child {
				padding-right: auto;
			}
		}
	}

	@media only screen and (_breakpoint(medium)) {
		font-size: 1.2rem;

		// on larger screens, hide the menu icon
		> #menu_icon {
			display: none;			
		}

		// float the logo + title to left
		// and the expanded menu to the right
		> #logo {
			float: left;
			margin-left: 0.5rem;
			margin-top: 0.5rem;
			color: _palette(header, fg);

			&:hover {
				color: _palette(header, hover-bg);
			}
		}
		> #title {
			float: left;
			margin-left: 0.5rem;
			margin-top: 0.5rem;
			color: _palette(header, fg);
		}
		#overlay_menu {
			float: right;
			margin-left: 0.5rem;
			margin-top: 0.5rem;

			// The navigation menu links
			> a {
				display: inline-block;
				text-decoration: none;
				color: _palette(header, fg);
				text-align: center;
				height: 3rem;
				padding-right: 0.5rem;
				outline: 0;

				&:hover {
					color: _palette(header, hover-bg);
				}
			}

			&:last-child {
				padding-right: 0;
			}

		}
	}
}
